@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;
      font-size: 25px;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 18px;
        height: 18px;
      }
    }

    .buttons {
      button {
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        margin-right: 40px;
        cursor: pointer;
        font-weight: 200;
        font-size: 16px;
      }
    }

    .buttons {
      button:hover {
        scale: 1.1;
        color: #966ead;
      }
    }
  }
}
